@charset "utf-8";
/* CSS Document */

.seccionPanel {
	padding:0px;
	clear:both;
	}

#arrowleft {
	position:absolute;
	z-index:100;
	float: left;
	width: 50px;
	height: 0px;
	cursor: pointer;
	}
#arrowleft a {
	width: 50px;
	height: 650px;
	background-image: url(../images/arrow_left.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	display: block;
	}
#arrowleft a:hover {
	background-image: url(../images/arrow_left_on.png);
	background-position: 0px 50%;
	}

#arrowright{
	position:relative;
	z-index:100;
	top:0;
	width: 50px;
	height: 0px;
	float: right;
	cursor: pointer;
	}
#arrowright a {
	width: 50px;
	height: 650px;
	background-image: url(../images/arrow_right.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	display: block;
	}
#arrowright a:hover {
	background-image: url(../images/arrow_right_on.png);
	background-position: 0px 50%;
	}

.changeSeccion {
	width: 1024px;
/*	float: left;*/
	overflow:hidden;
	margin: 0px auto;
	padding:0px;
	}
	
.hitText {
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
}
.hitCard {
	display:block;
	float:left;
	margin-left: 20px;
	margin-right: 20px;
}